{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>panier</h1>

        {% for pro in panier %}

            <div>
                {{ pro.longlib }}
            </div>
            <div>
                {{ pro.price }}
            </div>
            
        {% endfor %}

        <hr>

        <a href="/clear" class="btn btn-danger">Vider la panier</a>

    </div>
</div>
{% endblock %}