{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="panier-style">
            <h1>Votre panier</h1>
        </div>

        {% for pro in panier %}
            <div class="artiste-panier">
                {{ pro.artistname }}
            </div>
            <div class="album-panier">
                {{ pro.name }}
            </div>
            <div class="price-prod-panier">
                {{ pro.price }}
            </div>
            <br>
            
        {% endfor %}
        <br>
        <a href="/valid" class="btn btn-success">Valider la commande</a>
        <br>
        <a href="/clear" class="btn btn-danger">Vider la panier</a>
        <br>


    </div>
</div>
{% endblock %}