/* /!\/!\/!\ */
/* /!\ AU DESSUS DE LA NAVBAR /!\ */
/* /!\/!\/!\ */

.barrehaute {
    background-color: #9E9E9E;
    color: #9E9E9E;
    text-align: center;
}

/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA NAVBAR /!\ */
/* /!\/!\/!\ */

.navbar a:hover {
    color: orange;
}

.navbar {
/*    background-color: #787878 !important; gros gris*/
/*    background-color: #EEEEEE !important; */
    background-color: white !important;
}

.navbar-brand a {
    left: 30px;
}


.navbar1 {
    color: black;
    font-style: bold;
}

.navbar2 {
    color: black;
}


/* /!\/!\/!\ */
/* /!\ EN DESSOUS DE LA NAVBAR /!\ */
/* /!\/!\/!\ */

.barre {
    background-color: #EEEEEE;
/*    background-color:  	#DCDCDC; */
    display: flex;
    border: 1px solid lemonchiffon;
    padding:12px;
}

#chienbarre {
    width: 100%;
}

.form-control {
    margin-left: 10%;
    width: 30%;
}

.panier {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}

.livraison {
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-top: 22px;
}


.btn {
    padding: 15px;
    background-color:  	#F0FFFF;
    color: black;
}

.btn {
    background-color: #EEEEEE;
}

.fa-basket-shopping {
    color: black;
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE D'ACCEUIL DE BASE /!\ */
/* /!\/!\/!\ */


body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/*    background-color: #DCDCDC !important; gris clair */
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE ACCEUIL /!\ */
/* /!\/!\/!\ */



.cardacceuil {
    display: flex;
    justify-content: center;
}

.acategories {
    color: maroon;
}

.divcat {
    padding: 80px;

}

.imageacceuil {
    width: 285px;
    height: 285px;
} 

.h2 {
    color: maroon;
}

/* /!\/!\/!\ *//* /!\/!\/!\ */

.produitappel {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
}

.produitacceuil {
    display: flex;

}

.imagealbumprod {
    width: 300px;
    height: 300px;
    display: inline;
}

.artistprodacceuil {
    text-align: center;
}

.albumacceuil {
    text-align: center;
}

.aproduits {
    color: maroon;
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE BOUTIQUE /!\ */
/* /!\/!\/!\ */

.carrouselCatalogue {
    padding: 15px;
    border: 1px solid red;
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LE FOOTER /!\ */
/* /!\/!\/!\ */

footer {
/*    background-color: #F2F3F5 !important; */
/*    background-color: #8C8680 !important; */
    background-color: #787878 !important;
}

/* /!\/!\/!\ */
/* configuration des rubriques du footer */
/* liens vers les radios */

.rubriques_lien {
    background-color: #787878;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 1px solid black;

}

.rubriques_lien a {
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.rubriques_lien a:hover {
    background-color: orange;
    color: black;
}

.partie_gauche {
    display: inline;
}

.partie_droite {
    display: inline;
}
/* /!\/!\/!\ */
/* configuration du info-footer du footer */
/* tout les liens du footer */

.info-foot {
    background-color: #9E9E9E;
    padding: 55px;
    border-top: 1px solid black;
}

.info-foot a:hover {
    color: white;
}

.info-foot a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #373736;
    size: 5px;
}

/* les icones fontawesome */

.gold {
    color: black;
    
}

.pasgold {
    color: black;
}

/* /!\/!\/!\ */
/* configuration sur la partie Copyright du footer */

.copyright {

    background-color: #787878; 
    color: white;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #463F32;
    border-bottom: 1px solid #463F32
}

.copyright a {
    text-decoration: none;
    color: lightblue;
}

.copyright a:hover {
    color: white !important;
}

.symfony {
    color: lightblue !important;
}

.copyright a .symfony a:hover {
    color: black;
}

/* /!\/!\/!\ */
/* configuration de la mises à jours / fin footer */

.date {
    background-color: #787878 !important;
    text-align: center;
    color: white ;
    margin-top: 10px;
    padding-top: 11px;
    padding-bottom:1px;
}




/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE DES SOUSCATEGORIES/!\ */
/* /!\/!\/!\ */

.souscat {
    padding: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}


.souscat a {
    border: 1px solid black;
    color: black;
    padding: 50px;
    background-color: gainsboro;
    margin-left: 5px;
    margin-right: 5px;
}

.image-souscat1 {
    width: 115px;
    height: auto;
}

.image-souscat1 {
    width: 125px;
    height: auto;
}


/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE DES PRODUITS!\ */
/* /!\/!\/!\ */


/* Réglage des div de la boucle */
.div-produit {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 500px;
}

.div-produit a {
    text-decoration: none;
}


/* Le nom de l'artiste */
.titre-artiste {
    font-weight: bold;
    text-align: center;
    color: maroon;
}

/* Le nom des ablums */
.lien-produit {
    text-align: center;
    margin-bottom: 8px;
}

.lien-produit a {
    color: maroon;
    font-weight: bold;
    background-color: gainsboro;
}

/* Description du produit */
.soustitre-produit {
    font-style: italic;
}

/* Prix du produit */
.prix-produit {
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
    text-align: start;
}

/* Année du produit */
.annee-produit {
    font-style: italic;
    color: grey;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

}




/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE CATALOGUE /!\ */
/* /!\/!\/!\ */

.leslistes {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid green;
}

.leslistes li {
    margin-top: 10px;
}

.carrouselCatalogue {
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    } 
    .carousel-inner {
        display: flex;
    }
} 

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}


/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE DE CONNEXION/!\ */
/* /!\/!\/!\ */

.form-connexion {
    padding: 10%;
}

.login-form {
    border: solid gray 1px;
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE DES DETAILS /!\ */
/* /!\/!\/!\ */

.artist-namestyle {
    text-align: center;
    margin-top: 45px;
    font-weight: bold;
    color: maroon;
}

.produit-namestyle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}



.image-style {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.price-style {
    text-align: center;
    padding: 15px;
    color: maroon;

}

.button-style {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}
.button-sm a {
    color: black;
}

/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE DES PANIERS /!\ */
/* /!\/!\/!\ */

.panier-style {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: maroon;
}

.artiste-panier {
    color: maroon;
    margin-top: 50px;
}

.price-prod-panier {
    padding: 3px;
    margin-left: 7px;
    color: black;
    font-weight: bold;
}

.lesboutons {
    display: flex;
    justify-content: start;
    margin-bottom: 35px;
    margin-top: 55px;
}

#boutonretour {
    color: goldenrod;
    margin-right: 15px;
}

#boutonvalidation {
    color: green;
    margin-right: 15px;
}

#boutonviderpanier {
    color: lightcoral;
}

.miniimageprod {
    width: 75px;
    height: 75px;
}
