body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange;
    background-color:   #1c2833   !important;
}

/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA NAVBAR /!\ */
/* /!\/!\/!\ */

.navbar {
    background-color:   #1c2833   !important;
}

.navbar-brand {
    color: orange;
    width: 20%;
    text-align: center;
}

.navbar1 {
    color: orange;
}

.navbar2 {
    color: orange;
}

.logo {
    margin-left: 20px;
}




/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE D'ACCEUIL DE BASE /!\ */
/* /!\/!\/!\ */

section {
    padding: 5%;
}


/* cartes d'actualités de la page d'acceuil */

.card-actu {
    display: inline-block;
    color: gray;
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LE FOOTER /!\ */
/* /!\/!\/!\ */


.rubriques_lien {
    background-color: #f8c471;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}

.footer .a {
    color: orange;
}

.partie_gauche {
    display: inline;

}

.partie_droite {
    display: inline;
    padding: 55px;
}

.mentions_legales {
    color: gray;
    width: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.date {
    padding-top: 15px;
    border-top: 1px solid gray;
    text-align: center;
    color: gray;
}
