/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA NAVBAR /!\ */
/* /!\/!\/!\ */

.navbar a:hover {
    color: orange;
}

.navbar {
/* background-color:   white   !important; */
background-color: #787878 !important;
   /* background-color: #F2F3F5; */
}

.navbar-brand {
    color: white;
    width: 20%;
    text-align: center;
}

.navbar1 {
    color: white;
}

.navbar2 {
    color: white;
}

.logo {
    margin-left: 20px;
}




/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE D'ACCEUIL DE BASE /!\ */
/* /!\/!\/!\ */

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #DCDCDC !important;
/*    background-color:   #1c2833   !important; */
/*    background-color: #F2F3F5; */
}

/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LA PAGE BOUTIQUE /!\ */
/* /!\/!\/!\ */

section {
    padding: 5%;
}

/* cartes d'actualités de la page d'acceuil */

.card-actu {
    display: inline-block;
    color: gray;
}



/* /!\/!\/!\ */
/* /!\ CONFIGURATION SUR LE FOOTER /!\ */
/* /!\/!\/!\ */

footer {
/*    background-color: #F2F3F5 !important; */
/*    background-color: #8C8680 !important; */
    background-color: #787878 !important;
}

/* /!\/!\/!\ */
/* configuration des rubriques du footer */
/* liens vers les radios */

.rubriques_lien {
    background-color: #787878;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 1px solid gray;

}

.rubriques_lien a {
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.rubriques_lien a:hover {
    background-color: orange;
    color: black;
}

.partie_gauche {
    display: inline;
}

.partie_droite {
    display: inline;
}
/* /!\/!\/!\ */
/* configuration du info-footer du footer */
/* tout les liens du footer */

.info-foot {
    background-color: #9E9E9E;
    padding: 55px;
    border-top: 1px solid black;
}

.info-foot a:hover {
    color: white;
}

.info-foot a {
    display: block;
    text-decoration: none;
    padding: 5px;
/*    color: #463F32; */
    color: #373736;
    size: 5px;
}

/* les icones fontawesome */

.gold {
    color: black;
    
}

.pasgold {
    color: black;
}

/* /!\/!\/!\ */
/* configuration sur la partie Copyright du footer */

.copyright {
/*    background-color: #1c2833;  */
/*    background-color: #F2F3F5; */ 
/*    background-color: ##8C8680; */
/*    background-color: #302721; */
    background-color: #787878; 
    color: white;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #463F32;
    border-bottom: 1px solid #463F32
}

.copyright a {
    text-decoration: none;
    color: lightblue;
}

.copyright a:hover {
    color: white !important;
}

.symfony {
    color: lightblue !important;
}

.copyright a .symfony a:hover {
    color: black;
}

/* /!\/!\/!\ */
/* configuration de la mises à jours / fin footer */

.date {
    background-color: #787878 !important;
    text-align: center;
    color: white ;
    margin-top: 10px;
    padding-top: 11px;
    padding-bottom:1px;
}
