{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

        <div class="banniere">
            <img src="/media/banniere1.png" width="100%">
        </div>

        <section>

                        <div class="row">
                                <div class="col-3">LES FILTRES
                                </div>
                                <div class="col-9">LE CARROUSSEL
                                </div>
                        </div>
        </section>



{% endblock %}
