{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="cardacceuil">

                {% for cat in categories %}
                <div class="divcat">
                <a href="/souscategories/{{ cat.id }}" class="acategories">
                <img src="/media/{{ cat.picture }}" class="imageacceuil"></a>
                
                </div>
{% endfor %}
        </div>
    </div>
</div>

{% endblock %}