{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

        <div class="banniere">
        <img src="/media/banniere3.png" width="100%" height: "30px">
        </div>

        <section>

                        <div class="row">
                                <div class="col-3">
                                LES FILTRES
                                </div>
                                <div class="col-9">
                                        <ul>
                                                {% for cat in categories %}
                                                        <h2> {{ cat.name }} </h2>
                                                {% endfor %}
                                        </ul>
                                </div>
                        </div>

        </section>



{% endblock %}
