{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

        <div class="card-actu">
                <div class="card border-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><img src="/media/microphone.jpg" width="100%"></div>
                                <h4 class="card-title">Light card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card-actu">
                        <div class="card bg-light mb-3" style="max-width: 20rem;">
                                <div class="card-header"><img src="/media/microphone.jpg" width="100%"></div>
                                        <h4 class="card-title">Light card title</h4>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
                <div class="card-actu">
                        <div class="card bg-light mb-3" style="max-width: 20rem;">
                                <div class="card-header"><img src="/media/microphone.jpg" width="100%"></div>
                                        <h4 class="card-title">Light card title</h4>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
                <div class="card-actu">
                        <div class="card border-light mb-3" style="max-width: 20rem;">
                                <div class="card-header"><img src="/media/microphone.jpg" width="100%"></div>
                                        <h4 class="card-title">Light card title</h4>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
        </div>

{% endblock %}
