{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <p> Nous sommes des oufs</p>
    </div>
</div>

{% endblock %}
