{% extends 'base.html.twig' %}

{% block title %}Edit Subcategory{% endblock %}

{% block body %}
    <h1>Edit Subcategory</h1>

    {{ include('subcategory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_subcategory_index') }}">back to list</a>

    {{ include('subcategory/_delete_form.html.twig') }}
{% endblock %}
