{% extends 'base.html.twig' %}

{% block title %}New Subcategory{% endblock %}

{% block body %}
    <h1>Create new Subcategory</h1>

    {{ include('subcategory/_form.html.twig') }}

    <a href="{{ path('app_subcategory_index') }}">back to list</a>
{% endblock %}
