<form method="post" action="{{ path('app_composed_by_delete', {'id': composed_by.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composed_by.id) }}">
    <button class="btn">Delete</button>
</form>
