{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section>

        {% set condition = true %}
        {% set x = 7 %}
        {% set y = 12 %}

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <ul>
                        <li>option 1</li>
                        <li>option 2</li>
                        <li>option 3</li>
                        <li>option 4</li>
                        <li>option 5</li>
                        <li>...</li>
                    </ul>
                </div>

                <div class="col-8">
                    <div>
                        <h1>Categorie/Souscategorie</h1>
                    </div>

                    <div class="carrouselCatalogue">
                        
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
