{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {# liste = nom de la variable dans le controleur #}

    {% for item in liste %}
    
    <div class="container">
        <div class="row">
            <div class="col-4 div-produit">
                <div class="titre-produit">chien-titre
                </div>
                <div class="image-produit">
                <img src="/media/{{ item.picture }}" alt="" height="300px" width="auto">
                </div>
                <div class="lien-produit">
                    <a href="/details/{{ item.id }}"> {{ item.name }} </a>
                </div>
                <div class="soustitre-produit">chien-soustitre
                </div>
                <div class="prix-produit">chien-prix
                </div>
                <div class="annee-produit">2010
                </div>
            </div>
        </div>
    </div>


        </div>
</div>
    {% endfor %}

{% endblock %}