{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
                <div class="col-6 souscat">

                                
                        {% for cat in liste %}
                
                                <a href="/produits/{{ cat.id }}"> {{ cat.name }} </a>

                        {% endfor %}


                </div>


            </div>
        </div>
        
{% endblock %}



