{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
                <div class="souscat">

<img src="/media/dvd_blanc.png" class="image-souscat1">

                        {% for cat in liste %}
                
                                
                        <a href="/produits/{{ cat.id }}">     {{ cat.name }} </a>
                                

                        {% endfor %}

<img src="/media/dvd_noir.png" class="image-souscat1">

                </div>


            </div>
        </div>
        
{% endblock %}


{# Page approximativement fini #}
