{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
                    <div class="col-12">
                            
                    {% for cat in liste %}
                        <div class="col-4">
                            <a href="/produits/{{ cat.id }}">
                                {{ cat.name }}
                                </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
{% endblock %}



